/* index.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the html and body take full viewport height */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensures the root div takes full viewport height */
}

.container {
  flex-grow: 1; /* Allows the container to grow and fill available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003366; /* Dark blue background */
  color: white;
  font-family: Arial, sans-serif;
  overflow: auto; /* Adds scroll inside container if content overflows */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 200px;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.link {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin: 10px 0;
}

.header {
  background-color: #007bff; /* Choose a suitable color */
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0; /* Prevents the header from shrinking */
}

.header-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0056b3; /* Darker shade for contrast */
}

.header-link:hover {
  background-color: #003d82;
}

.footer {
  background-color: #007bff; /* Choose a suitable color */
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-size: 0.8em;
}

.points {
  margin-top: 20px;
  font-size: 1.2em;
  color: #ffdd57; /* Gold color for points */
  font-weight: bold;
}
